@font-face {
    font-family: 'league_spartanbold';
    src: url('/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('/leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container{
    font-family: 'league_spartanbold';
    /* background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.topnav {
    overflow: hidden;
    background-color: #2AB969;
    position: relative;
}

.topnav #myLinks {
    display: none; 
}

.topnav__links {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.topnav a.icon {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    background: #2AB969;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.header__main {
    display: flex;
    flex-direction: column;
    background-color: #2AB969; 
}

.header__loginregister{
    height: 48px;
}

.header__usuarioregister{
    display: flex;
    flex-direction: column; 
}

.create__business{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}

.input__nombre{
    border-radius: 4px;
    color: #1b1825;
    font-style: italic;
    padding: 8px 16px;
    font-size: 14px;
    margin-top: 5px;
}

.menu__iconburger{
    display: flex;
    justify-content: space-between;
    border: 1px solid gainsboro;
    padding-left: 10px;
    padding-right: 10px;
}

.logo{
    width: 100%;
    margin: 15px auto 15px auto;
}

.nav__main a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: gray;
    border: 1px solid gainsboro;
}

.nav__main li{
    list-style-type:none;
}

.nav__main ul{
    padding: 0;
}

.footer__main li{
    list-style-type:none;
}

.footer__main ul{
    padding: 0;
    padding-bottom: 15px;
}

.footer__hyperlink{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: 1px solid gainsboro;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.footer__social{
    display: flex;
    justify-content: space-around;
}

.footer__main{
    background-color: #2AB969; 
}

/* redes sociales */
.icon__twitter,
.icon__facebook,
.icon__instagram,
.icon__linkedin,
.icon__youtube{
    margin-top: .625em;
    width: 40px;
    height: 40px;
    opacity: .6;
    filter: alpha(opacity=60);
    border-radius: 25px;
}

.icon__twitter:hover,
.icon__facebook:hover,
.icon__instagram:hover,
.icon__linkedin:hover,
.icon__youtube:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}